.body {
  a{
    text-decoration: none;
    color: $dark;

    &:hover, &:active{
      color: $secondary;
    }
  }

  .collapsing {
    -webkit-transition: height 0s ease;
        -o-transition: height 0s ease;
            transition: height 0s ease;
  }

  @media(max-width: 991px){
    .container{
      max-width: 100%;
    }
  }
}