.body .btn{
  font-size: remCalc(16);
  font-weight: bold;
  line-height: remCalc(24);
  padding: 6px 16px 9px;
  display: inline-flex;
  align-items: center;

  &-primary{
    background-color: $orange;
    border-color: $orange;
    color: white;

    &:hover, &:active, &:first-child:active{
      background-color: $orange-light;
      border-color: $orange;
    }
  }

  &-secondary{
    background-color: white;
    border: 2px solid $border;
    color: $dark;

    &:hover, &:active, &:first-child:active{
      background-color: $gray-1 !important;
      border-color: $gray-1 !important;
      color: $dark !important;
    }
  }
}