body.body{
  font-family: $base-font-family;
  font-size: $base-font-size + px;
  color: $main-text;
}

// $font-sizes: (
//   13, 15, 18, 32, 36, 64
// );

// $line-height: (
//   18, 42, 50
// );

// @each $size in $font-sizes {
//   .fs-#{$size} {
//     font-size: remCalc($size);
//   }
// }

// @each $size in $line-height {
//   .lh-#{$size} {
//     line-height: remCalc($size);
//   }
// }

.fw-{
  &500{
    font-weight: 500;
  }
  &700{
    font-weight: 700;
  }
}