body.body{
  font-family: $base-font-family;
  font-size: $base-font-size + px;
  color: $main-text;
}

$font-sizes: (
  14, 40
);

$line-height: (
  40
);

@each $size in $font-sizes {
  .fs-#{$size} {
    font-size: remCalc($size);
  }
}

@each $size in $line-height {
  .lh-#{$size} {
    line-height: remCalc($size);
  }
}

.fw-{
  &500{
    font-weight: 500;
  }
  &700{
    font-weight: 700;
  }
}

.text-dark{
  color: $dark;
}

