doctype html
html(lang='en')
  head
    include ./common/meta
    title  Frontend assignment

    include ./common/links

  body.body
    include ./layouts/header
    
    .container
      .row
        aside.col-md-4.d-none.d-md-block.ps-0.sidebar-left
          nav.sidebar-menu
            ul.list-unstyled
              li.active
                a(href="#")
                  i.icon--photos
                  | All photos
              li
                a(href="#")
                  i.icon--selfies
                  | Selfies
              li
                a(href="#")
                  i.icon--recent
                  | Recent
              li
                a(href="#")
                  i.icon--delete
                  | Deleted
        main.col-lg-8.col
          | All photos
          | 150 items
          | Newest
          | Latest
          | Heading
          | Here goes some sample, example text that is relatively short.
          | Show more...
          | Save to collection
          | Share

    include ./common/scripts