doctype html
html(lang='en')
  head
    include ./common/meta
    title  Frontend assignment

    include ./common/links

  body.body
    include ./layouts/header
    
    .container
      .row
        aside.col-md-4.d-none.d-md-block.ps-0.sidebar-left
          nav.sidebar-menu
            ul.list-unstyled
              li.active
                a(href="#")
                  i.icon--photos
                  | All photos
              li
                a(href="#")
                  i.icon--selfies
                  | Selfies
              li
                a(href="#")
                  i.icon--recent
                  | Recent
              li
                a(href="#")
                  i.icon--delete
                  | Deleted
        main.col-lg-8.col.main-content
          header.row.justify-content-between.align-items-center
            .col.fw-bold.fs-40.text-dark.lh-40 All photos
            .col-auto
              .content-switcher
                ul.list-unstyled
                  li.active Newest
                  li Latest
          #content-photos-length.fs-14.fw-bold.mt-1 
            span 0 
            |  items
          .content-photos
            .row#content-photos
              
    include ./common/scripts